<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
       
        <link rel="icon" type="image/x-icon" href="{{ asset('icons8-symbian-96.png') }}" />
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('assets/components/bootstrap/css/bootstrap.min.css') }}" >
       

        <!-- css -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <ul class="menu">
                <li>
                    <a href="{{ path('homepage') }}">Home</a>                
                </li>

                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Países
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <ul>
                                <li>
                                    <a class="dropdown-item" href="{{ path('paises') }}">Lista de países activos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('adminListPaises') }}">Lista completa de países</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('nuevoPais') }}">Crear país nuevo</a>
                                </li>
                            </ul>   
                        </div>
                    </div>
                </li>

                <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Provincias
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <ul>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('provincias') }}">Lista de provincias activas</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('adminListProvincias') }}">Lista completa de provincias</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('nuevaProvincia') }}">Crear provincia nueva</a>
                                    </li>
                                </ul>   
                            </div>
                        </div>
                    </li>
            </ul>
        </header>
     
        {% block body %}{% endblock %}
        
         <!-- Scripts de Bootstrap -->
         <script src="{{ asset('assets/components/jquery/jquery.min.js') }}" ></script>
         <script src="{{ asset('assets/components/bootstrap/js/bootstrap.js') }}" ></script>
         <script src="{{ asset('assets/components/bootstrap/js/bootstrap.min.js') }}" ></script>
         <script src="{{ asset('assets/components/bootstrap/js/dropdown.js') }}" ></script>



         {% block javascripts %}{% endblock %}

    </body>
</html>
