{% extends 'templates/template.html.twig' %}

{% block title %}
Detalle de país
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    
    <div class="container">
       
                         
        {% for msg in app.flashes('success') %}
            <div class="alerta-success">
                {{ msg }}
            </div>
        {% endfor %}
                        
        
        <section class="content-box">

                <nav class="menu-page">
                        <ul>
                            <li>
                                <a href="{{ path('nuevoPais') }}" ><i class="fas fa-plus"></i> Crear nuevo pais</a>
                            </li>

                            <li>|</li>

                            <li>
                                <a href="{{ path('adminListPaises') }}" >Lista completa de paises</a>
                            </li>
                        
                            <li>|</li>

                            <li>
                                <a href="{{ path('paises') }}" >Lista de paises activos</a>
                            </li>
                          
                        </ul>
    
                    </nav>
                    
                    
            <div>
                <h2 class="paises-title">Detalle de país</h2>
            </div>
            
            

            <div class="detalles-box">
                    <ul >
                            <li>
                                Nombre: {{ pais.descripcion }}
                            </li>
                            <li>
                                Abreviación: {{ pais.abrev }}
                            </li>
                            <li>
                                Estado: {% if pais.activo == 1 %}
                                    ACTIVO
                                {% else %}
                                    NO ACTIVO
                                {% endif %}    
                            </li>

                    </ul> 
            </div>
                
                       
            <div class="flexrow">
                
                <form class="form-style1" action="{{ path('paises')}}/{{ pais.id }}" method="post">
                    <input type="hidden" name="idPais" value="{{ pais.id }}">
                    <input type="hidden" name="action" value="borrar">
                    <button type="submit" class="btn-style1">Borrar</button>
                </form>


                {% if pais.activo == 1 %}
                    <form class="form-style1" action="{{ path('paises') }}/{{ pais.id }}" method="post">
                        <input type="hidden" name="idPais" value="{{ pais.id }}">
                        <input type="hidden" name="action" value="desactivar">
                        <button type="submit" class="btn-style1">Desactivar</button>
                    </form>
                {% else %}
                    <form class="form-style1" action="{{ path('paises') }}/{{ pais.id }}" method="post">
                        <input type="hidden" name="idPais" value="{{ pais.id }}">
                        <input type="hidden" name="action" value="activar">
                        <button type="submit" class="btn-style1">Activar</button>
                    </form>      
                {% endif %}


                <button class="btn-style1"><a href="{{ path('editarPais', {'id': pais.id }) }}">Editar</a></button>
                        

            </div>

                       
                          
                   
             
        </section>
       
    </div>

{% endblock %}


