{% extends 'templates/template.html.twig' %}

{% block title %}
Editar provincia
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    
    <div class="container">
       
                         
        {% for msg in app.flashes('success') %}
            <div class="alerta-success">
                {{ msg }}
            </div>
        {% endfor %}
                        
        
        <section class="content-box">

            <nav class="menu-page">
                <ul>
                        
                    <li>
                        <a href="{{ path('provincias') }}" >Lista de provincias</a>
                    </li>
                
                    <li>|</li>

                    <li>
                        <a href="{{ path('provincias') }}/{{ provincia.id }}" >Volver al detalle de {{ provincia.descripcion }}</a>
                    </li>
                    
                </ul>

            </nav>
            
            <div>
                <h2 class="paises-title">Editar provincia</h2>
            </div>
            
            <div>
                    
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
        
               
            </div>
        </section>
       
    </div>

{% endblock %}


